<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'WAAD.POC.ProductCatalog.UWP' in resource group 'LabAppInsights' -->
  <!-- This key is for Application Insights resource 'ContosoProduct' in resource group 'ContosoProducts' -->
  <InstrumentationKey>0d096d33-a1d7-4b2d-82d9-15c176406fd9</InstrumentationKey>
</ApplicationInsights>